body{
    font-family: 'Open Sans', 'Helvetica';
    color: #66595c;
}

nav .navbar-brand {
    margin-top: -5px;
}

.pets img {
    padding: 20px;
    margin-bottom: 30px;
}

.title h2 {
    font-family: 'Open Sans'; 
    font-weight: 300;
    color: rgb(0, 41, 90);
    text-align: center;   
}

.container h4 {
    text-align: center;
}

.header {
    margin-top: 60px;
    margin-bottom: 10px;
}

.header p {
    margin-top: 30px;
    font-size: 20px;
    color: #66595c;
    font-weight: 300;

}

.img-hover img {
    -webkit-transition: all 1s ease; Safari and Chrome
    -moz-transition: all 1s ease; Firefox
    -o-transition: all 1s ease; IE 9
    -ms-transition: all 1s ease; Opera
    transition: all 1s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.15); Safari and Chrome
    -moz-transform:scale(1.15); Firefox
    -ms-transform:scale(1.15); IE 9
    -o-transform:translatZ(0) scale(1.15); Opera
    transform:translatZ(0) scale(1.15);
}

/*efeito de fade in ao entrar no site*/
@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 1.5s ease-in-out;
-moz-animation: fadeIn 1.5s ease-in-out;
-o-animation: fadeIn 1.5s ease-in-out;
animation: fadeIn 1.5s ease-in-out;
}

.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle a {
    display:inline-block;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
 background-color: #D3D3D3;   
}

footer {
    padding: 30px; 
    width: 100%;
    background-color: #eeeeee;
}
