<!DOCTYPE html5>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CEFET-MG - Interpet</title>
	<link rel="icon" href="/static/interpet/img/logos/logo_cefet_color.png">
	<link rel="stylesheet" href="/static/assets/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/static/interpet/assets/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>

{% block content %}
{% endblock content %}

<script src="/static/interpet/assets/js/jquery.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/interpet/assets/js/jquery.localScroll.min.js"></script>
<script src="/static/interpet/assets/js/jquery.scrollTo.min.js"></script>
<script src="/static/interpet/assets/js/script.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>

</body>

</html>