<!DOCTYPE html5>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CEFET-MG - Interpet</title>
	<link rel="icon" href="/static/interpet/img/logos/logo_cefet_color.png">
	<link rel="stylesheet" href="/static/assets/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/static/interpet/assets/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body>

<header>
	<nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container-fluid">
    		<div class="navbar-header">
     			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			    	<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
    			<a class="navbar-brand" href="/interpet">
    				<img alt="Interpet" src="/static/interpet/img/logos/logo-only-interpet.png">
    			</a>
    		</div>
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
					<li><a href="/interpet">Início<span class="sr-only">(current)</span></a></li>
					<li><a href="/interpet">Dia 1</a></li>
					<li><a href="/interpet">Dia 2</a></li>
					<li><a href="/interpet">Informações</a></li>
					<li class="active"><a href="/interpet/inscricao">Inscrições</a></li>					
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container">
	<div class="row title page-header">
		<h2 class="form-title">Formulário de Inscrição</h2>
	</div>

	<form method="post" role="form">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Nome</label>
				<input class="form-control" type="text">
			</div>
			<div class="form-group">
				<label class="control-label">Idade</label>
				<input class="form-control" type="number">
			</div>
			<div class="form-group">
				<label class="control-label">Egresso de escola...</label>
				<div class="radio">
	  				<label><input type="radio" name="">Pública</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="">Privada</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Já participou de outros projetos acadêmicos, em qualquer nível de educação (fundamental, médio, superior)?</label>
				<div class="checkbox">
	  				<label><input type="checkbox" value="">Monitoria</label>
				</div>
				<div class="checkbox">
	  				<label><input type="checkbox" value="">Projetos de Iniciação Científica</label>
				</div>
				<div class="checkbox">
	  				<label><input type="checkbox" value="">Projetos de extensão comunitária</label>
				</div>
				<div class="checkbox">
	  				<label><input type="checkbox" value="">Olimpíadas de conhecimento</label>
				</div>
				<div class="checkbox">
	  				<label><input type="checkbox" value="">Estágio</label>
				</div>
				<div class="checkbox">
	  				<label><input type="checkbox" value="" id="other">Outro</label>
				</div>
				<div id="specify">
					<label class="control-label">Especifique:</label>
					<input class="form-control" type="text" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Participa do grupo PET do curso de...</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Administração/Campus II</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia Ambiental e Sanitária/Campus I</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia Civil/Curvelo</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia de Automoção Industrial/Araxá</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia de Computação/Campus II</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia de Controle e Automação/Leopoldina</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia de Materiais/Campus I</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia de Minas/Araxá</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Engenharia Mecatrônica/Divinópolis
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Está vinculado ao programa como...</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Bolsista</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Voluntário</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Por que ingressou no PET?</label>
				<textarea class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label">Qual é sua carga horária diária com o PET?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Menos de 2 horas</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Entre 2 e 3 horas</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Entre 3 e 4 horas</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Mais de 4 horas</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Onde desenvolve a maior parte das atividades do PET?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Campo</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Casa</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">CEFET-MG</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Qual é a sua rotina semanal de contato com seu tutor?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Até 2 vezes</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Entre 3 e 5 vezes</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Acima de 5 vezes</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Qual é o meio mais utilizado para o contato com seu tutor?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">E-mail</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Presencial</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Rede social</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Telefone</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Outro</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">O valor da bolsa é adequado?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Sim</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Não</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">O recebimento da bolsa colabora para a sua permanência no CEFET-MG?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Sim</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Não</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Das atividades desenvolvidas pelo grupo PET que você participa, com quais delas que você mais se identifica?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Ensino</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Pesquisa</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Extensão</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Todas citadas</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Para cada interface do PET, cite uma atividade desenvolvida pelo grupo que você participa:</label>
			</div>
			<div class="form-group">
				<label class="control-label">Ensino</label>
				<textarea class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label">Pesquisa</label>
				<textarea class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label">Extensão</label>
				<textarea class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label">De que forma o PET pode colaborar para o mundo do trabalho e para a formação acadêmica?</label>
				<textarea class="form-control"></textarea>
			</div>
			<div class="form-group">
				<label class="control-label">Você pretende seguir carreira acadêmica?</label>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Sim</label>
				</div>
				<div class="radio">
	  				<label><input type="radio" name="" value="">Não</label>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Enviar">
			</div>
		</div>
	</form>	
</div>	

<script src="/static/interpet/assets/js/jquery.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/interpet/assets/js/jquery.localScroll.min.js"></script>
<script src="/static/interpet/assets/js/jquery.scrollTo.min.js"></script>
<script src="/static/interpet/assets/js/script.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>


</body>

</html>