<!DOCTYPE html5>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CEFET-MG - Interpet</title>
	<link rel="icon" href="/static/interpet/img/logos/logo_cefet_color.png">
	<link rel="stylesheet" href="/static/assets/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/static/interpet/assets/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<body class="fadeIn">

<header>
	<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			<div class="navbar-header">
	 			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			    	<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
				<a class="navbar-brand" href="/interpet">
					<img alt="Interpet" src="/static/interpet/img/logos/logo-only-interpet.png">
				</a>
			</div>
	    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
					<li class="active"><a href="#start">Início<span class="sr-only">(current)</span></a></li>
					<li><a href="#title1">Dia 1</a></li>
					<li><a href="#title2">Dia 2</a></li>
					<li><a href="#info">Informações</a></li>
					<li><a href="/interpet/inscricao">Inscrições</a></li>
					<li><a href="/interpet/sobre">Sobre</a></li>					
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container">
	<div class="container header" id="start">
		<div class="row">
			{% if inscricaoSucesso %}
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Parabéns!</strong> Sua inscrição foi realizada com sucesso.
				</div>
			{% endif %}
			<div class="col-md-6">
				<p>
					O <strong>InterPET</strong> (Encontro dos Grupos PET do CEFET-MG) será realizado
					pela primeira vez, pelo CEFET-MG, entre os dias <strong>16 e 17 de setembro
					de 2016</strong>, reunindo professores e discentes dos grupos do Programa
					de Educação Tutorial da Instituição.
				</p>
				<p>
					O Encontro tem como objetivo principal a <strong>troca de experiências</strong>, por
					meio de reflexões e discussões acerca do desenvolvimento do
					Programa, bem como da importância da articulação no âmbito da
					tríade <strong>ensino</strong>, <strong>pesquisa</strong> e <strong>extensão</strong>.
				</p>
			</div>
			<div class="col-md-6">
				<img src="/static/interpet/img/LogosComMarcaCefet/logo-interpet-2016-horiz-cor.png" class="img-responsive"/>
			</div>
		</div>
		<a href="/interpet/inscricao" class="btn btn-primary">Inscrever-se</a>
	</div>
</div>

<div class="container">
	<div class="row title">
		<h2 id="title1">16 de setembro</h2>
	</div>
	<div class="row">	
		<div class="col-md-6 pull-right" id="day1">
		<!-- agenda will be loaded in javascript -->		
		</div>
	</div>
	<div class="row title">
		<h2 id="title2">17 de setembro</h2>
	</div>
	<div class="row">
		<div class="col-md-6 pull-right" id="day2">
		<!-- agenda will be loaded in javascript -->
		</div>	
	</div>
</div>	

<div class="container">
	<div class="row title">
		<h2 id="info">Informações</h2>
	</div>
	<h4>O evento é organizado pela Diretoria de Graduação, com o apoio dos Grupos PET do CEFET-MG:</h4>
	<div class="row pets">
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-administracao-bh-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-eng-ambiental-bh-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-eng-controle-automacao-leopoldina-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-eng-civil-curvelo-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-eng-computacao-bh-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-eng-materiais-bh-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-eng-mecatronica-divinopolis-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
			<img src="/static/interpet/img/logos/logo-pet-eng-minas-araxa-cor.png" class="img-responsive">
		</div>
		<div class="col-md-4 col-sm-12">
		<img src="/static/interpet/img/logos/logo-pet-eng-automacao-industrial-araxa-cor.png" class="img-responsive">
		</div>		
	</div>
</div>

<script src="/static/interpet/assets/js/jquery.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/interpet/assets/js/jquery.localScroll.min.js"></script>
<script src="/static/interpet/assets/js/jquery.scrollTo.min.js"></script>
<script src="/static/interpet/assets/js/script.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>


</body>

</html>