<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container-fluid">
		<div class="navbar-header">
 			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		    	<span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
			<a class="navbar-brand" href="/interpet">
				<img alt="Interpet" src="/static/interpet/img/logos/logo-only-interpet.png">
			</a>
		</div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
				<li><a href="/interpet">Início<span class="sr-only">(current)</span></a></li>
				<li><a href="/interpet">Dia 1</a></li>
				<li><a href="/interpet">Dia 2</a></li>
				<li><a href="/interpet">Informações</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscrições <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/interpet/inscricao">Petiano</a></li>
						<li><a href="/interpet/inscricao-ouvinte">Ouvinte</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="sobre">Sobre</a></li>
			</ul>
		</div>
	</div>
</nav>