{% extends "interpet/base.html" %}
{% block content %}

<header>
	{% include "interpet/navbar.html" %}
</header>

<div class="container">
	<div class="container header" id="start">
		<div class="row">
			<div class="col-md-12 sobre-content">
				<h1 class="sobre-title">Desenvolvimento do site</h1>
				<p>Este site foi desenvolvido pelo grupo do Programa de Educação Tutorial do curso de Engenharia de Computação do CEFET-MG (COMPET). É orientado pelo tutor Professor Sandro Renato Dias do Departamento de Computação, CEFET-MG.</p>
		        <p>Os membros Saulo Antunes, Luís Carlos Cardoso e Higor Coimbra do COMPET atuaram efetivamente no desenvolvimento tanto front-end quanto back-end do site, contando com a experiência dos citados na área de web.</p>
		        <p>Para conhecer melhor o trabalho do COMPET, acesse o nosso <a href="http://compet.decom.cefetmg.br" target="_blank">site</a> e a nossa <a href="https://www.facebook.com/competcefetmg/?fref=ts" target="_blank">página no Facebook</a>.	</p>
		        <p>Obrigado!</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
